.travel-search {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    }
    
    .search-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    background-color: #557ffe;
    }
    
    input[type='text'],
    input[type='date'],
    input[type='number'] {
    width: 200px;
    height: 40px;
    margin: 0 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    }
    
    input[type='submit'],
    button {
    width: 100px;
    height: 40px;
    margin: 0 10px;
    padding: 0 10px;
    border-radius: 5px;
    border: none;
    background-color: #000000;
    color: #fff;
    cursor: pointer;
    }
    
    input[type='submit']:hover,
    button:hover {
    background-color: #0056b3;
    }
    
    .search-results {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }
    
    .search-result {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }
    
    .search-result h2 {
    margin-bottom: 10px;
    }
    
    .search-result p {
    margin: 5px 0;
    }

    .search-form,
    .search-result {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    margin-bottom: 16px;
    }
    .departure-popup {
    position: absolute;
    top: 170px;
    left: 11%;
    width: 100%;
    background-color: #fff;
    border: 1px solid #ccc;
    z-index: 1;
    position: absolute;
    width: 10%; /* 팝업 사이즈를 절반으로 줄임 */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
    border-radius: 20px;
    margin-bottom: 5px;
    cursor: pointer;
    flex-direction: column;
     }
      
     .departure-option {
       padding: 5px;
       cursor: pointer;
     }
      
    .departure-option:hover {
      background-color: #f0f0f0;
    }
    
    .destination-popup {
      position: absolute;
      top: 170px;
      left: 25%;
      width: 100%;
      background-color: #fff;
      border: 1px solid #ccc;
      z-index: 1;
      position: absolute;
      width: 10%; /* 팝업 사이즈를 절반으로 줄임 */
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #f2f2f2;
      border-radius: 20px;
      margin-bottom: 5px;
      cursor: pointer;
      flex-direction: column;
       }
        
       .destination-option {
         padding: 5px;
         cursor: pointer;
       }
        
      .destination-option:hover {
        background-color: #f0f0f0;
      }  